.shade {
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
  position: fixed;
  min-height: 100vh;
  min-width:100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 97
}

.nav-toggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 0.7rem;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  font-family: Calibri;
  font-size: 1.7rem;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-toggle:hover {
  background: rgba(0, 0, 0, 0.2)
}
